/* Menu */

.menu {
   background-color: var(--basic-semi-light);
}

@media (min-width: 320px) {
   .menu {
      display: grid;
   }
}

/* Button */

@media (min-width: 320px) {
   .menu__button {
      z-index: 1;
      display: block;
      margin: 0;
      margin-top: 16px;
      margin-right: 16px;
      padding: 0;
      border: 0;
      background-color: transparent;
      justify-self: end;
   }
}

@media screen and (min-width: 736px) {
   .menu__button {
      display: none;
   }
}

/* Icon */

@media (min-width: 320px) {
   .menu__icon {
      display: block;
      stroke: var(--basic-black);
   }

   .menu__icon:hover {
      stroke: var(--special-accent);
   }

   .menu__icon-menu,
   .menu__button--open .menu__icon-cross {
      display: block;
   }

   .menu__icon-cross,
   .menu__button--open .menu__icon-menu {
      display: none;
   }
}

/* List */

.menu__list {
   margin: 0;
   padding: 0;
   list-style: none;
   font-size: 12px;
}

@media (min-width: 320px) {
   .menu__list {
      display: none;
      row-gap: 10px;
      padding-top: 24px;
      padding-bottom: 24px;
      padding-left: 40px;
      background-color: var(--basic-semi-light);
      box-shadow: 0 50vh 0 50vh var(--special-dark);
   }

   .menu__list--open {
      display: grid;
   }
}

@media (min-width: 736px) {
    .menu__list {
        display: grid;
        grid-auto-flow: column;
        column-gap: 8px;
    }
}

@media (min-width: 768px) {
    .menu__list {
        display: grid;
        grid-auto-flow: column;
        column-gap: 8px;
    }
}

/* Item */

.menu__item {
   letter-spacing: 0.02em;
   text-transform: uppercase;
}

/* Link */

.menu__link {
   color: var(--basic-dark);
   text-decoration: none;
}

.menu__link--current {
   color: var(--special-accent);
   font-weight: bold;
   font-family: "Dewi Expanded", sans-serif;
}

.menu__link--inactive {
   color: var(--basic-semi-dark);
}
