/* Offer */

.offer {
	height: 720px;
	background-color: #e9e9e9;
   display: flex;
}

@media all and (min-width: 320px) {
	.offer {
		height: 720px;
	}
}

/* Content */

.offer__content {
	display: grid;
	grid-template-rows: min-content max-content min-content;
	row-gap: 20px;
	width: 50%;
	height: 100%;
	margin-left: 50%;
	align-content: center;
   justify-items: start;
   background-color: transparent;
}

.offer__title {
	width: 75%;
	font-family: "Dewi", sans-serif;
	font-size: 3em;
	font-weight: bold;
	text-align: left;
}

.offer__tagline {
	width: 50%;
	font-family: "Dewi", sans-serif;
	font-size: 1em;
	font-weight: normal;
	color: #1a1818;
	text-align: left;
}

@media all and (min-width: 320px) {
	.offer__content {
		display: grid;
		grid-template-rows: min-content max-content min-content;
		row-gap: 10px;
		height: 100%;
		width: 100%;
		padding: 16px;
		align-content: center;
		margin: 0;
	}

	.offer__title {
		width: 100%;
		font-family: "Dewi", sans-serif;
		font-size: 16pt;
		font-weight: bold;

		text-align: center;
	}

	.offer__tagline {
		width: 100%;
		font-family: "Dewi", sans-serif;
		font-size: 11pt;
		font-weight: lighter;
		color: #1a1818;
		text-align: center;
	}
}

@media all and (min-width: 768px) {
	.offer__content {
		display: grid;
		grid-template-rows: min-content max-content min-content;
		row-gap: 10px;
		height: 50%;
		width: 50%;
		padding: 16px;
		align-content: center;
		margin: auto;
		justify-items: center;
      background-color: #e9e9e9cc;
	}

	.offer__title {
		width: 100%;
		font-family: "Dewi", sans-serif;
		font-size: 16pt;
		font-weight: bold;

		text-align: center;
	}

	.offer__tagline {
		width: 100%;
		font-family: "Dewi", sans-serif;
		font-size: 11pt;
		font-weight: lighter;
		color: #1a1818;
		text-align: center;
	}
}

@media all and (min-width: 1024px) {
	.offer__content {
		display: grid;
		grid-template-rows: min-content max-content min-content;
		row-gap: 20px;
		width: 50%;
		height: 100%;
		margin-left: 50%;
		align-content: center;
      justify-items: start;
      background-color: transparent;
	}

	.offer__title {
		width: 100%;
		font-family: "Dewi", sans-serif;
		font-size: 2em;
		font-weight: bold;
		text-align: left;
	}

	.offer__tagline {
		width: 100%;
		font-family: "Dewi", sans-serif;
		font-size: 1em;
		font-weight: normal;
		color: #1a1818;
		text-align: left;
	}
}

@media all and (min-width: 1440px) {
	.offer__content {
		display: grid;
		grid-template-rows: min-content max-content min-content;
		row-gap: 20px;
		width: 50%;
		height: 100%;
		margin-left: 50%;
		align-content: center;
      justify-items: start;
      background-color: transparent;
	}

	.offer__title {
		width: 480px;
		font-family: "Dewi", sans-serif;
		font-size: 2em;
		font-weight: bold;
		text-align: left;
	}

	.offer__tagline {
		width: 480px;
		font-family: "Dewi", sans-serif;
		font-size: 1em;
		font-weight: normal;
		color: #1a1818;
		text-align: left;
	}
}

/* Button */

.offer__button {
	width: 176px;
	height: 64px;
	border: 0;
	background-color: #10c9c3;
	color: white;
	font-size: 1em;
	font-weight: bold;
	font-family: "Dewi", sans-serif;
}

@media all and (max-width: 320px) {
	.offer__button {
		width: 100%;
	}
}

@media all and (max-width: 768px) {
	.offer__button {
		width: 100%;
	}
}
