/* Variables */

:root {
   --basic-black: #141414;
   --basic-dark: #252525;
   --basic-semi-dark: #838383;
   --basic-semi-light: #dddddd;
   --basic-light: #f5f5f5;
   --basic-white: #ffffff;

   --special-accent: #10c9c3;
   --special-dark: #2525250c;
}
